body {
    background-color: rgb(21, 169, 189);
    text-align: center;
    overflow: hidden;
}

.image-top {
    position: absolute;
    right: 50%;
    bottom: 35%;
    z-index: -1;
}

.image-bottom {
    position: absolute;
    left: 45%;
    top: 40%;
    z-index: -1;
}

.image {
    width: 320px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.image-victor {
    border-radius: 100%;
    border: 0.5rem solid white;
    position: absolute;
    top: 70px;
    left: 105px;
    z-index: 1;
}

h1 {
    font-size: 1.5rem;
    padding-top: 3.5rem;
}

.greycontent {
    color: gray;
    font-weight: lighter;
}

.state {
    font-size: 1rem;
}

.main {
    background-color: white;
    width: 320px;
    padding: 0;
    margin-top: 120px;
    border-radius: 10%;
    padding-bottom: 1rem;
}

@media (max-width:768px) {
    .image {
        width: 300px;
    }
    .main {
        width: 300px;
        position: relative;
        margin-left: 18%;
    }
    .main {
        overflow: hidden;
    }
}

.socialmediafans {
    margin-left: 50px;
}

.table-heading {
    font-weight: bold;
}

.table-lower {
    font-size: 0.7rem;
    font-stretch: extra-expanded;
}

.table-heading,
.table-lower {
    padding-left: 1rem;
    padding-right: 1rem;
}

.attribution {
    margin-top: 5rem;
}
